In [6]:
import os
import pandas as pd
import numpy as np

In [10]:
terrorism_data = pd.read_csv("E:/terrorismData.csv")
terrorism_data.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [16]:
# Problem 1: Terror Attack City
jk_data = terrorism_data[terrorism_data['State'] == 'Jammu and Kashmir']
city_counts = jk_data[jk_data['Group'] != 'Unknown'].groupby('City')['Year'].count()
most_dangerous_city = city_counts.idxmax()
most_active_group = jk_data[(jk_data['City'] == most_dangerous_city) & (jk_data['Group'] != 'Unknown')].groupby('Group')['Year'].count().idxmax()
print("Problem 1")
print(f"City: {most_dangerous_city}, Active Group: {most_active_group}, Attacks: {city_counts[most_dangerous_city]}")

Problem 1
City: Srinagar, Active Group: Muslim Separatists, Attacks: 351

In [18]:
# Problem 2: Country with Highest Number of Attacks and Most Attacked Year
country_counts = terrorism_data.groupby('Country')['Year'].count()
most_attacked_country = country_counts.idxmax()
country_data = terrorism_data[terrorism_data['Country'] == most_attacked_country]
year_counts = country_data.groupby('Year')['Day'].count()
most_attack_year = year_counts.idxmax()
print("Problem 2")
print(f"Country: {most_attacked_country}, Year: {most_attack_year}, Attacks: {year_counts[most_attack_year]}")

Problem 2
Country: Iraq, Year: 2014, Attacks: 3933

In [20]:
# Problem 3: Deadliest Attack
terrorism_data['Casualties'] = terrorism_data['Killed'] + terrorism_data['Wounded']
deadliest_attack = terrorism_data['Casualties'].max()
print("Problem 3")
print(f"Deadliest Attack Casualties: {int(deadliest_attack)}")

Problem 3
Deadliest Attack Casualties: 9574

In [21]:
# Problem 4: Government's Span Analysis
start_year = 2014
indian_data = terrorism_data[(terrorism_data['Country'] == 'India') & (terrorism_data['Year'] >= start_year)]
attack_count = indian_data['Year'].count()
most_active_group_india = indian_data[indian_data['Group'] != 'Unknown'].groupby('Group')['Year'].count().idxmax()
print("Problem 4")
print(f"Attacks in India (2014-current): {attack_count}, Most Active Group: {most_active_group_india}")

Problem 4
Attacks in India (2014-current): 3735, Most Active Group: Maoists

In [22]:
# Problem 5: Casualty Frequency in Red Corridor states and J&K
red_corridor_states = ['Jharkhand', 'Odisha', 'Andhra Pradesh', 'Chhattisgarh']
red_corridor_data = terrorism_data[terrorism_data['State'].isin(red_corridor_states)]
jk_casualties = jk_data['Killed'] + jk_data['Wounded']
red_corridor_casualties = red_corridor_data['Killed'] + red_corridor_data['Wounded']

jk_years = jk_data['Year'].nunique()
red_corridor_years = red_corridor_data['Year'].nunique()

jk_frequency = int(jk_casualties.sum() / jk_years)
red_corridor_frequency = int(red_corridor_casualties.sum() / red_corridor_years)
print("Problem 5")
print(f"JK Frequency: {jk_frequency}, Red Corridor Frequency: {red_corridor_frequency}")

Problem 5
JK Frequency: 395, Red Corridor Frequency: 170